<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This Website is Dedicated For My Twitter Bot and Is Compltly Fuctional Bot Hosted Through Pythonanywhere.com">
    <title>PyScript | Twitter Bot</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <nav class="flex flex-wrap items-center justify-between p-4">
        <div class="lg:order-2 w-auto lg:w-1/5 lg:text-center"><a class="text-xl text-indigo-500 font-semibold"
                href="/">PyScript | Twitter Bot</a></div>
        <div class="block lg:hidden">
            <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
        <div class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5"><a
                class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700"
                href="//twitter.com/script_py">Visit The Bot On Twitter</a><a
                class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700"
                href="//coderaman07.github.io">Visit Authors Website</a><a
                class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700"
                href="//github.com/coderaman07">GitHub</a></div>
        <div class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right"><a
                class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700"
                href="//coderaman07.github.io/blogs">Blog</a><a
                class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700"
                href="//amanojha.pythonanywhere.com#contact">Contact</a></div>
    </nav>

    <section class="py-12 px-4 text-center">
        <div class="w-full max-w-2xl mx-auto">
            <span class="text-sm font-semibold">A BOT which Re-Tweets all of Your Tweets</span>
            <h2 class="text-5xl mt-2 mb-6 leading-tight font-heading">A Bot in The Making</h2>
            <a class="text-blue-700 hover:underline" href="/bot">Run The BOT(The Page will not Load but the work will be
                on
                Doing) »</a>
        </div>
    </section>

    <section class="p-4">
        <div class="flex flex-wrap text-center">
            <div class="md:w-1/2 py-4 md:px-10 mb-4 md:mb-0">
                <img class="mx-auto mb-3" src="https://tailwind.build/placeholders/icons/shield.svg" alt="">
                <h3 class="text-2xl mb-3 font-heading">High Tweet Rate</h3>
                <p class="text-gray-500 leading-relaxed">Just Tweet your Tweet including Two Hashtag : #100DaysOfCode
                    #alexmercerr07.</p>
            </div>
            <div class="md:w-1/2 py-4 md:px-10 mb-4 md:mb-0 md:border-l">
                <img class="mx-auto mb-3" src="https://tailwind.build/placeholders/icons/cloud-tools.svg" alt="">
                <h3 class="text-2xl mb-3 font-heading">Maintainence</h3>
                <p class="text-gray-500 leading-relaxed">I will be maintaining this bot forever so that Means That this
                    will do its job for Ever and Get Your Tweets Retweeted for Life Time period.</p>
            </div>
        </div>
    </section>

    <div><br><br><br></div>

    <footer class="flex flex-wrap items-center justify-between p-4">
        <div class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center">© 2020-2021 Aman Ojha</div>
        <div class="flex flex-col lg:flex-row items-center w-full lg:w-auto">
            <div class="mx-auto lg:mx-0 lg:ml-auto"><a class="inline-block mt-0 text-blue-900 hover:text-blue-700"
                    href="//coderaman07.github.io">Visit Aman's Website</a><a
                    class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700"
                    href="//github.com/coderaman07">Visit my GitHub Profile</a><a
                    class="inline-block mt-0 ml-8 text-blue-900 hover:text-blue-700"
                    href="mailto:programoverload@gmail.com">Drop a Mail to PyScript</a></div>
            <div class="flex justify-center mt-4 lg:mt-0 lg:ml-8"><img class="w-6 h-6 mr-6"
                    src="https://tailwind.build/placeholders/icons/message.svg"
                    alt="For Any Queries Drop A Mail to PyScript"><img class="w-6 h-6"
                    src="https://tailwind.build/placeholders/icons/share.svg"
                    alt="Please Share The Idea Behind The BOT"></div>
        </div>
    </footer>
</body>

</html>